.hero {
  height: 40vh;
  background: url("../../assets/main.jpeg") center/cover no-repeat;
  border-radius: var(--borderRadius);
  margin-bottom: 2rem;
  position: relative;
}

.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/*
=============== 
Recipes
===============
*/

.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 576px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
  .recipe-img {
    height: 15rem;
  }
}
@media screen and (min-width: 992px) {
  .recipe p {
    font-size: 0.85rem;
  }
  .recipes-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .recipe h5 {
    font-size: 1.15rem;
  }
}
