.recipe {
  display: block;
}

.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}

.recipe h5 {
  margin-bottom: 0;
  line-height: 1;
  color: var(--grey-700);
}

.recipe p {
  margin-bottom: 0;
  line-height: 1;
  margin-top: 0.5rem;
  color: var(--grey-500);
  letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 576px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
  .recipe-img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .recipe p {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 1200px) {
  .recipe h5 {
    font-size: 1.15rem;
  }
}
